lib
lib64
bin
include
pyvenv.cfg
test.py
tmp
loaders
share
etc
assets/cache/*
__pycache__
rogger/__pycache__
rogger/llm/__pycache__
rogger/vectorizer/__pycache__
rogger/retriever/__pycache__
rogger/config/__pycache__
rogger/util/__pycache__
rogger/app/__pycache__
rogger.egg-info
.vscode
*.egg-*
