lib
lib64
bin
include
pyvenv.cfg
test.py
tmp
loaders
share
etc
assets/cache/*
__pycache__
bb_assistant/__pycache__
bb_assistant/llm/__pycache__
bb_assistant/vectorizer/__pycache__
bb_assistant/retriever/__pycache__
bb_assistant/config/__pycache__
bb_assistant/util/__pycache__
bb_assistant/app/__pycache__
bb_assistant.egg-info
.vscode
*.egg-*
