python-socks
python-graphql-client
requests[socks]
torch
bs4
transformers
sentence-transformers
langchain
langchain-community 
langchainhub
langchain-openai
langchain-chroma
pandas
bitsandbytes
accelerate
streamlit
FlashRank
rank_bm25
nltk
future
openpyxl
# googletrans==3.1.0a0